

.banner{
    background: url(../imagens/Hero.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 30% 100%;
   color: var(--branco);
}

.banner-caixa{
    display: flex;
    flex-direction: column;
    padding: 3.5em 0 2em 0;
    margin: 0 2em;
}

.banner-titulo{
    
    font-size: 22px;
    font-weight: 700;
}

.banner-info{
    font-weight: 600;
    padding: 1em 0 0.5em 0;
}

.banner-butao{
    padding: 0.5em;
    width: 36%;
    background: var(--azul);
    color: var(--branco);
    cursor: pointer;
    border: none;
}

/*
.banner{
    background: url(../imagens/Hero.png);
   background-repeat: no-repeat;
   background-size: cover;
   color: var(--branco);
   background-position: 30% 45%;
}

.banner-caixa{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.banner-titulo{
    padding-top: 3.5em;
    font-size: 52px;
    font-weight: 700;
}

.banner-info{
    font-size: 22px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.banner-butao{
    width: 10%;
    padding: 1em;
    margin-bottom: 3em;
}*/