
.navbar{
    display: flex;
    padding: 1em 1em;
    align-items: center;
}
/*
.logo{
    width: 40%;
}
*/
.navbar-login{
    padding: 0.7em 3em;
    background: var(--branco);
    border: 1px solid var(--azul);
    color: var(--azul);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin: 0 0.5em;
    text-decoration: none;
}

.navbar-pesquisa{
    display: none;
}

@media screen and (max-width:425px) {
    .navbar{
        justify-content: space-between;
    }
    
}

@media screen and (min-width:768px) {

    .lupa{
        display: none;
    }
    /*
    .logo{
        width: 20%;
    }
*/
    .navbar-login{
        position: absolute;
        right: 5px;
    }

    .navbar-pesquisa{
        width: 40%;
        display: block;
        margin-left: 15px;
    }
    
    .navbar-pesquisa input{
        padding: 0.8em;
        border-radius: 50px;
        border: none;
        width: 100%;
        background: var(--cor-de-fundo);
    }
    
    .navbar-pesquisa input::placeholder{
        background-image: url(../imagens/Icone.png);
        background-repeat: no-repeat;
        background-position: 15em;
        font-size: 15px;
    }
}

@media screen and (min-width:1024px) {

    .navbar{
        padding: 2em 12em;
        align-items: center;
    }
/*
    .logo{
        max-width: 17%;
    }
  */  
    .navbar-login{
        right: 9%;
    }

    .navbar-pesquisa{
        width: 30%;
        display: block;
        margin-left: 15px;
        background: var(--cor-de-fundo);
        background-image: url(../imagens/Icone.png);
        background-repeat: no-repeat;
        background-position: right;
        padding: 1em 0;
        border-radius: 50px;
    }
    
    .navbar-pesquisa input{
        padding: 0;
        margin-left: 10px;
        border: none;
        width: 85%;
        background: var(--branco);
    }
    
    .navbar-pesquisa input::placeholder{
        color: var(--cinza);
        font-size: 15px;
        background-image: none;
    }
}

/*
header{
   background: var(--cor-de-fundo);
}

.navbar{
    display: flex;
    
    padding: 2em 7em;
    align-items: center;
}

.navbar-pesquisa{
    margin-right: 40%;
    width: 20%;

}

.navbar-pesquisa input{
    padding: 0.8em;
    border-radius: 50px;
    border: none;
    width: 100%;
}

.navbar-pesquisa input::placeholder{
    background-image: url(../imagens/Icone.png);
    background-repeat: no-repeat;
    background-position: 18em;
    font-size: 15px;
}

.navbar-login{
    padding: 0.7em 3.4em;
    background: var(--branco);
    border: 1px solid var(--azul);
    color: var(--azul);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.lupa{
    display: none;
}*/