@import url(./navbar.css);
@import url(./banner.css);
@import url(./produtos.css);
@import url(./contato.css);
@import url(./footer.css);
@import url(./loguin-style.css);
@import url(./info-produto.css);
@import url(./adm.css);
@import url(./adc-item.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-de-fundo: #F5F5F5;
    --branco: #FFFFFF;
    --azul:#2A7AE4;
    --cinza: #464646;
    --azul-claro: #EAF2FD;
}

body{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}